In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("laptop_data.csv")

In [3]:
data['Ram'].value_counts()

Ram
8GB     619
4GB     375
16GB    200
6GB      41
12GB     25
2GB      22
32GB     17
24GB      3
64GB      1
Name: count, dtype: int64

In [4]:
data['Memory'].value_counts()

Memory
256GB SSD                        412
1TB HDD                          223
500GB HDD                        132
512GB SSD                        118
128GB SSD +  1TB HDD              94
128GB SSD                         76
256GB SSD +  1TB HDD              73
32GB Flash Storage                38
2TB HDD                           16
64GB Flash Storage                15
512GB SSD +  1TB HDD              14
1TB SSD                           14
256GB SSD +  2TB HDD              10
1.0TB Hybrid                       9
256GB Flash Storage                8
16GB Flash Storage                 7
32GB SSD                           6
180GB SSD                          5
128GB Flash Storage                4
512GB SSD +  2TB HDD               3
16GB SSD                           3
512GB Flash Storage                2
1TB SSD +  1TB HDD                 2
256GB SSD +  500GB HDD             2
128GB SSD +  2TB HDD               2
256GB SSD +  256GB SSD             2
512GB SSD +  256GB SSD             1
512GB SSD +  512GB SSD             1
64GB Flash Storage +  1TB HDD      1
1TB HDD +  1TB HDD                 1
32GB HDD                           1
64GB SSD                           1
128GB HDD                          1
240GB SSD                          1
8GB SSD                            1
508GB Hybrid                       1
1.0TB HDD                          1
512GB SSD +  1.0TB Hybrid          1
256GB SSD +  1.0TB Hybrid          1
Name: count, dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1303 non-null   int64
 1   Company           1303 non-null   object
 2   TypeName          1303 non-null   object
 3   Inches            1303 non-null   float64
 4   ScreenResolution  1303 non-null   object
 5   Cpu               1303 non-null   object
 6   Ram               1303 non-null   object
 7   Memory            1303 non-null   object
 8   Gpu               1303 non-null   object
 9   OpSys             1303 non-null   object
 10  Weight            1303 non-null   object
 11  Price             1303 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 122.3+ KB

In [6]:
data.describe()

       Unnamed: 0       Inches          Price
count  1303.00000  1303.000000    1303.000000
mean    651.00000    15.017191   59870.042910
std     376.28801     1.426304   37243.201786
min       0.00000    10.100000    9270.720000
25%     325.50000    14.000000   31914.720000
50%     651.00000    15.600000   52054.560000
75%     976.50000    15.600000   79274.246400
max    1302.00000    18.400000  324954.720000

In [9]:
data.isnull().sum()

Unnamed: 0          0
Company             0
TypeName            0
Inches              0
ScreenResolution    0
Cpu                 0
Ram                 0
Memory              0
Gpu                 0
OpSys               0
Weight              0
Price               0
dtype: int64

In [10]:
data.drop(columns = ['Unnamed: 0'] ,inplace = True)

In [11]:
data['Ram1'] = data['Ram'].str.extract(r'(\d+)')

In [12]:
data['weight1'] = data['Weight'].str.extract(r'([^a-z]+\.?(?:[^a-z]+))')

In [13]:
data['x'] = data['ScreenResolution'].str.extract(r'([0-9]+)x')

In [14]:
data['y'] = data['ScreenResolution'].str.extract(r'x(\w+$)')

In [15]:
data['ips']  = data['ScreenResolution'].str.extract(r'(IPS)')

In [16]:
data['ips'] = np.where(data['ips'] == 'IPS','yes','no')

In [17]:
data['GHZ'] = data['Cpu'].str.extract(r'(\w+)GHz$')

In [18]:
data['x'] = data['x'].astype('int')

In [19]:
data['y'] = data['y'].astype('int')

In [20]:
data['ppi'] = ((data['x']**2+data['y']**2)**0.5)/data['Inches']

In [21]:
data.corr(numeric_only = True)['Price']

Inches    0.068197
Price     1.000000
x         0.556529
y         0.552809
ppi       0.473487
Name: Price, dtype: float64

In [22]:
data['ppi'] = data['ppi'].astype('int')
data['Ram1'] = data['Ram1'].astype('int')

In [23]:
data.corr(numeric_only = True)

          Inches     Price      Ram1         x         y       ppi
Inches  1.000000  0.068197  0.237993 -0.071245 -0.095404 -0.413568
Price   0.068197  1.000000  0.743007  0.556529  0.552809  0.473264
Ram1    0.237993  0.743007  1.000000  0.433121  0.424437  0.304049
x      -0.071245  0.556529  0.433121  1.000000  0.994219  0.931650
y      -0.095404  0.552809  0.424437  0.994219  1.000000  0.939679
ppi    -0.413568  0.473264  0.304049  0.931650  0.939679  1.000000