In [2]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
for i in "mansi":
    print(i)

m
a
n
s
i

In [7]:
num = 2345
sum=0
for i in str(num):
    sum+=int(i)
print(sum)

14

In [28]:
list = [23,4,6,7,45,3,4,6,12]
maximum = max(list)
i = list.index(maximum)
list.remove(maximum)
secmax = max(list)
print("second largest element:  " , secmax)
list.insert(i ,maximum)
list

second largest element:   23

[23, 4, 6, 7, 45, 3, 4, 6, 12]

In [47]:
list = [23,4,6,7,45,3,4,6,12]
k = 0
for i in list:
    l = []
    for j in list:
        if i == j:
            l.append(list.index(j)+k)
            list.remove(j)
            k =+1
    print("index at which " , i ,"appeares :" ,l)
    l.clear()

index at which  23 appeares : [0]
index at which  6 appeares : [2, 6]
index at which  45 appeares : [3]
index at which  4 appeares : [1, 3]

In [61]:
list = [23,23,23,0]
uni = []
for i in list:
    if i not in uni:
        uni.append(i)
ind = []        
for i in uni:
    for j in range(0 , len(list)):
        if i == list[j]:
          ind.append(j)
    print(" ",i ,"appears at index :",ind)
    ind.clear()

  23 appears at index : [0, 1, 2]
  0 appears at index : [3]

In [69]:
num = int(input("enter number of rows"))
for i in range( 1 , num):
  for j in range (0 , i):
    print(j , end=" ")
  for k in range(  -1 , 0 , -1):
    print(k , end= " ")
  print("\n")

enter number of rows 3

0 2 1

0 1 2 1